

.login{
    background-color: rgb(119, 193, 233);
    width: 20%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10%;
    border: 3px solid rgb(145, 136, 213);
    box-shadow: 0px 0px 20px rgb(130, 189, 238);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.login input{
    width: 40%;
    height: 50px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
}
.login .caja-texto{
    transition: 1.5s;
}

.login .caja-texto:focus{
    background-color: rgb(119, 193, 233);
}

.btnlogin{
    background-color: rgb(79, 179, 233);
    font-size: 1vw;
    cursor: pointer;
    transition: .5s;
}
h1{
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: monospace;
}
button{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 30px;
    border-radius: .7rem;
    background-color: rgb(79, 179, 233);
    font-size: 1vw;
    cursor: pointer;
    border: none;
    transition: .5s;
}

button:hover{
    background-color: rgb(79, 179, 233);
    transform: scale(1.1);
}
a{
    border-bottom: 2px solid rgb(145, 136, 213) ;
    cursor: pointer;
    transition: 1s;
}
a:hover{
    transform: scale(1.1);
}