<!-- <form (ngSubmit)="recuperarContrasena()" class="recuperar"> -->
<form (ngSubmit)="recuperarContrasena()" [formGroup]="recuperarForm" class="recuperar">

    <h1>Recueprar</h1>
    <input type="text" class="caja-texto" placeholder="Nombre" formControlName="nombre">
    <input type="email" class="caja-texto" placeholder="Correo" formControlName="correo">
    <input type="password" class="caja-texto" placeholder="Nueva contraseña" formControlName="contrasena"> 
    <a (click)="guardarCN()" type="submit" class="btnregister" value="Recuperar" >hola</a>  
    
</form>
  
  
  